{% extends 'layout/admin.html' %}

{%block content%}

<link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>





<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- Content -->
    
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light"></span>Date of Paid Invoice
    </h4>
    <div class="input-group mb-2">
     
    </div>
 
        <div class="card">
<table id="example" class="datatables-ajax table table-bordered" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th class="all">First name</th>
      <th class="all">Last name</th>
      <th class="all">Position</th>
      <th class="all">Office</th>
      <th class="all">Age</th>
      <th class="none">Start date</th>
      <th class="none">Salary</th>
      <th class="none">Extn.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td>5421</td>
      </tr>

    </tr>
  </tbody>


  <script>
    var table = $('#example').DataTable({
        responsive: {
          details: {
            type: 'column'
          }
        },
        columnDefs: [{
          className: 'control',
          orderable: false,
          targets: 0
        }],
        order: [1, 'asc']
      });
      
      $('#btn-show-all-doc').on('click', expandCollapseAll);
      
      function expandCollapseAll() {
        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click').length || 
        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click')
      }
</script>
{%endblock%}



