{% extends 'layout/admin.html' %}

{%block content%}
<style>
    tbody tr {
        display : none;
    }
    tr.parent {
        display : table-row;
    }
    tr.open {
        display : table-row;
    }

    
    select {
      width: 86px;
      height: 39px;
  }
  .table-main {
    padding: 17px;
    box-shadow: 0 0 2px !important;
    margin-bottom:15px;
  }
  .table:not(.table-dark) thead:not(.table-dark) th {
    color: #000000 !important;
  }
  .table-bordered {
    border: 1px solid #ddd;
  } 
  .table-bordered {
    border: 1px solid #ddd;
    box-shadow: 0 0 0px 1px !important;
  }
  .resultmsg {
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a.result_clicker {
    background: #182535;
    padding: 7px 15px;
    color: #fff;
    border-radius: 8px;
  }
  a.result_clicker {
    color: #fff !important;
    text-decoration: none;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>






 
    {% if obj|length == 0 %} 
 <div class="row w-100">
    <div class="col-md-12 resultmsg">
        <div class="text-center">
        <h1 class="no_result_msg">No Result Found </h1>
        <a href="{% url 'paid' %}" class="result_clicker">Back</a>
        </div>
    </div>
</div>
    

  {%else%}
  <div class="table-main">
  <table id="products"  class="datatables-ajax table table-bordered mb-d">
    <thead>
    <tr>
        <th>Business Name</th>
        <th>Invoice</th>
        <th>Semana1</th>
        <th>Semana2</th>
        <th>Semana3</th>
        <th>Semana4</th>
    </tr>
    </thead>
    <tbody>
    
    {% for i,j in obj.items %}

    <tr class="parent">
       
        <td><a href="#"> + {{i}}</a></td>
        
        <td></td>

        {%if j.0.3 == None %}
        <td></td>
        {%else%}
        <td>{{j.0.3}}</td>
        {%endif%}

    

        {%if j.0.4 == None %}
        <td></td>
        {%else%}
        <td>{{j.0.4}}</td>
        {%endif%}
        

        {%if j.0.5 == None %}
        <td></td>
        {%else%}
        <td>{{j.0.5}}</td>
        {%endif%}


        
        {%if j.0.6 %}
        <td>{{j.0.6}}<td>
        {%elif j.0.6 == None and j.0.7 == None %}
        <td><td>
        {%else%}
        <td>{{j.0.7}}</td>
        {%endif%}
     
        

    </tr>
    {%for z in j%}
    
    <tr>
        
        <td></td> 
        <td>{{z.0}}</td>
        {%if z.1 >= 0 and z.1 <= 1.75 %}
         <td>{{z.2}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if z.1 > 1.75 and z.1 <= 3.75 %}
        <td>{{z.2}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if z.1 > 3.75 and z.1 <= 5.75 %}
        <td>{{z.2}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if z.1 > 5.75 and z.1 <= 7.75 or  z.1 > 7.75 %}
        <td>{{z.2}}</td>
        {%else%}
        <td></td>
        {%endif%}
        
        {%endfor%}
    </tr>
     {%endfor%}
     
    </tbody>
</table>

<div class="d-flex mb-4" style="display: flex !important;
justify-content: space-between;border-bottom: 1px solid;padding-right: 10px;">
<h3 class="m-0">Sum Total</h3><div class="pt-2"style="color: #000;"><span style="padding-right:50px;">{{week1}} </span><span style="padding-right:53px;"> {{week2}} </span> <span style="padding-right:31px;">{{week3}} </span> {{week4}}
</div></div>{%endif%}
<hr>
</div>
<script>

    document.getElementById("products").addEventListener("click", function(e) {
        if (e.target.tagName === "A") {
            e.preventDefault();
            var row = e.target.parentNode.parentNode;
            while ((row = nextTr(row)) && !/\bparent\b/.test(row.className))
                toggle_it(row);
        }
    });
    
    function nextTr(row) {
        while ((row = row.nextSibling) && row.nodeType != 1);
        return row;
    }
    
    function toggle_it(item){ 
         if (/\bopen\b/.test(item.className))
              
             item.className = item.className.replace(/\bopen\b/," ");
            

         else
             item.className += " open";
     } 

     {% comment %} window.onload = function() {
      var selItem = sessionStorage.getItem("SelItem");  
      $('#sort-item').val(selItem);
      var year = sessionStorage.getItem("year");  
      $('#sort-items').val(year);
      
      }
      $('#sort-item').change(function() { 
          var selVal = $(this).val();
          console.log(selVal)
          sessionStorage.setItem("SelItem", selVal);
      
        });

      
   
      $('#sort-items').change(function() { 
          var selVals = $(this).val();
          console.log(selVals)
          sessionStorage.setItem("year", selVals);
      }); {% endcomment %}


</script>
{%endblock%}