{% extends 'layout/admin.html' %}



 
 
 {% block content %}
 
 
 
 <section class="mainload">
 <div class="content-wrapper">

 
   <!-- Content -->
   
     <div class="container-xxl flex-grow-1 container-p-y">
       
       
 <h4 class="py-3 breadcrumb-wrapper mb-4">
 <span class="text-muted fw-light">DataTables /</span> Advanced
 
 </h4>
 <div class="row-fluid d-flex">
  
 </div>
 <!-- Ajax Sourced Server-side -->
 <div class="card">
  <h5 class="card-header">Invoice Due For Paid</h5>
 <div class="preload">
 </div>
 <div class="content">
   <div class="card-datatable text-nowrap">
     <table class="datatables-ajax table table-bordered" id="datatables" >
     <thead>
       <tr>
        <th>Business Name</th>
        <th>Invoice</th>
        <th>Expiration Date</th>
        <th>1) -1 a -30 Dias</th>
        <th>2) -31 a -60 Dias</th>
        <th>3) -61 a -90 Dias</th>
        <th>4) -91 a -120 Dias</th>
        <th>5) -121 a -150 Dias date</th>
        <th>6) -151 Dias date</th> 
       </tr>
     </thead>
     <tbody>
          
       {%for i in obj%}    
   
       <tr>
        <td>{{i.business_name}}</td>
        <td>{{i.invoice}}</td>
        <td>{{i.expiration_date}}</td>
        
        {%if i.days_overdue < 30 %}
        <td>{{i.amount_paid}}</td>
        {%else%}
        <td></td>
        {%endif%}
        
        {%if i.days_overdue > 30 and i.days_overdue <= 60 %}
        <td>{{i.amount_paid}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if i.days_overdue > 60  and i.days_overdue <= 90  %}
       
        <td>{{i.amount_paid}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if i.days_overdue > 90 and i.days_overdue  <= 120  %}
        <td>{{i.amount_paid}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if  i.days_overdue > 120  and  i.days_overdue < 151  %}
        <td>{{i.amount_paid}}</td>
        {%else%}
        <td></td>
        {%endif%}
        {%if i.days_overdue > 151 and i.days_overdue <= 1000 %}
        <td>{{i.amount_paid}}</td>
        {%else%}
        <td></td>
        {%endif%}
        

        

        
        {% comment %} {%elif i.days_overdue > 60  and i.days_overdue <= 90  %}
        <td>{{balance_payable}}</td>
        {%elif  i.days_overdue > 90 and i.days_overdue <= 120  %}
        <td>{{balance_payable}}</td>
        {%elif  i.days_overdue > 121  and i.days_overdue <= 150  %}
        <td>{{balance_payable}}</td>
        {%elif  i.days_overdue > 151 %}
        <td>{{balance_payable}}</td> {% endcomment %}
       
           
         {%endfor%}
       </tr>
     </tbody>
     </table>
   </div>
 </div>
 </div>
 <section>
 <!--/ Ajax Sourced Server-side -->
 
 
   
 
 {% endblock content %}
 
 
 {% block javascripts %}
   {{ block.super }}
 
   <script>
     $(document).ready(function() {
         $('#datatables').DataTable( {
           scrollX: true,
           "aaSorting": []
           
            
         });
     });
    </script>
{%endblock javascripts%}