{% extends 'layout/admin.html' %}



 
 
 {% block content %}
 
 
 
 <section class="mainload">
 <div class="content-wrapper">

 
   <!-- Content -->
   
     <div class="container-xxl flex-grow-1 container-p-y">
       
       
 <h4 class="py-3 breadcrumb-wrapper mb-4">
 <span class="text-muted fw-light">DataTables /</span> Advanced
 
 </h4>
 <div class="row-fluid d-flex">
  
 </div>
 <!-- Ajax Sourced Server-side -->
 <div class="card">
  <h5 class="card-header">Invoice Due For Paid</h5>
 <div class="preload">
 </div>
 <div class="content">
   <div class="card-datatable text-nowrap">
     <table class="datatables-ajax table table-bordered" id="datatables" >
     <thead>
       <tr>
        <th>Business Name</th>
        <th>Invoice</th>
        <th>Expiration Date</th>
        <th>1) -1 a -30 Dias</th>
        <th>2) -31 a -60 Dias</th>
        <th>3) -31 a -90 Dias</th>
        <th>4) -61 a -90 Dias</th>
        <th>5) -91 a -120 Dias date</th>
       </tr>
     </thead>
     <tbody>    
       {%for i in obj%}          
       <tr>
        <td>{{i.business_name}}</td>
        <td>{{i.invoice}}</td>
        <td>{{i.expiration_date}}</td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
           
         {%endfor%}
       </tr>
     </tbody>
     </table>
   </div>
 </div>
 </div>
 <section>
 <!--/ Ajax Sourced Server-side -->
 
 
   
 
 {% endblock content %}
 
 
 {% block javascripts %}
   {{ block.super }}
 
   <script>
     $(document).ready(function() {
         $('#datatables').DataTable( {
           scrollX: true,
           "aaSorting": []
           
            
         });
     });
    </script>
{%endblock javascripts%}