{% extends 'layout/admin.html' %}

{% block title %} Due {% endblock %}


{% block content %}

<div class="content-wrapper">

  <!-- Content -->
  
    <div class="container-xxl flex-grow-1 container-p-y">
      
      
<h4 class="py-3 breadcrumb-wrapper mb-4">
<span class="text-muted fw-light"></span> Provider Parameter 
</h4>
<div class="row-fluid">

</div>
<!-- Ajax Sourced Server-side -->
<div class="card">
<h5 class="card-header"> Provider Parameter </h5>
<div class="card-datatable text-nowrap">
<table class="datatables-ajax table table-bordered" id="datatables">
<thead>
  <tr>
    <th>ID Fiscal</th>
    <th>VAT ID</th>
    <th>Bank Account</th>
    <th>Bank Beneficiary</th>
    <th>Bank Code</th>
    <th>Payment Term</th>
    <th>Email Notification</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>    
  {%for j in pro %}         
  <tr>
      <td>{{j.provider_name}}</td>
      <td>{{j.provider_name}}</td> 
      <td>2390555000</td>
      <td><select name="cars" id="cars" class="cars">
        <option value="0">Select Bank</option>
        {% for i in bank %}
     
        <option value="{{forloop.counter}}" data-sync="{{forloop.counter}}">{{i.bank_name}}</option>
        {%endfor%}
      </select></td>
      <td id="val">
      </td>
      <td>30</td>
      <td>example@gmail.com </td>
      <td> <input type='button' class='myclass'  value='save'/>
        <!-- <i class="" style="font-size:28px;color:green">save</i>
      </a> -->
     
      <!-- <a href="" class="btn text-secondary px-0">
        <i class="fa fa-save" aria-hidden="true" style="font-size:28px;color:blue;"></i> -->
        <!-- <i class="fa fa-trash-o danger " style="font-size:28px;color:red;"></i> -->
      <!-- </a> -->
    </td>
    
  </tr>
  {%endfor%}
 



     

</tbody>
</table>
</div>
</div>
<!--/ Ajax Sourced Server-side -->


  

{% endblock content %}


{% block javascripts %}
  {{ block.super }}

  <script>
    $(document).ready(function() {
        $('#datatables').DataTable( {
          scrollX: true,
        
          
           
        });
    });
    </script>
  
  <script>

$(".cars").change(function(){
  
  const element = document.getElementById("cars");
  const checkText = element.options[element.selectedIndex].text;
  var currentRow=$(this).closest("tr");
  console.log(checkText)
  var value = $('select#cars option:selected').val();
  
  var rr = currentRow.find("#cars option:selected").val();
  
  $.ajax({
        type:"GET",
        url: '/insurance/update-insurance-status/',
        data: {
          'id': rr
        },
        dataType: 'json',
        success: function (data) {
          var rr = currentRow.find("#val").html(data.id);
        }
     
      });

    });

$(document).ready(function() {
  $(".myclass").click(function () {
  
  var currentRow=$(this).closest("tr");
  
  var bank_code = currentRow.find("td:eq(4)").html();
  var bank_name = currentRow.find("#cars option:selected").html();
  var vatid= currentRow.find("td:eq(0)").html();

  var value = $('select#cars option:selected').val();
  if(value == 0){
    alert("Please Select Bank");
  }
  else{

    alert("ok bank done");

  

  $.ajax({
        type:"GET",
        url: '/bank/details/',
        data: {
          'id': bank_code,
          'bank_name':bank_name,
          'vat_id':vatid,
        },
        dataType: 'json',
        success: function (data) {
          $('#cars option:selected').val(data.result);
          
        }
     
      });

  }


  });
});



//     window.onchange=function() {
//     let monthData = `{{js}}`;
//     console.log(monthData)
//     let zz=Number(monthData)
//     for (let i = 1; i < zz +1; i++) {
//       console.log("sdfdg",i)
    
//     document.getElementById(String(i)).onchange=function() {
   
//     document.getElementById("hri"+String(i)).value=this.options[this.selectedIndex].getAttribute("data-sync"); 
//   }
//     document.getElementById(String(i)).onchange(); // trigger when loading
// } 

// }

  </script>



{% endblock javascripts %}