{% extends 'layout/admin.html' %}

{% block title %} Due {% endblock %}


{% block content %}

<div class="content-wrapper">

  <!-- Content -->
  
    <div class="container-xxl flex-grow-1 container-p-y">
      
      
<h4 class="py-3 breadcrumb-wrapper mb-4">
<span class="text-muted fw-light"></span> Provider Parameter 
</h4>
<div class="row-fluid">

</div>
<!-- Ajax Sourced Server-side -->
<div class="card">
<h5 class="card-header"> Provider Parameter </h5>
<div class="card-datatable text-nowrap">
<table class="datatables-ajax table table-bordered" id="datatables">
<thead>
  <tr>
    <th>ID Fiscal</th>
    <th>VAT ID</th>
    <th>Bank Account</th>
    <th>Bank Beneficiary</th>
    <th>Bank Code</th>
    <th>Payment Term</th>
    <th>Email Notification</th>
  </tr>
</thead>
<tbody>    
            
  <tr>
      <td>11.246.340-8</td>
      <td>Tester</td> 
      <td>2390555000</td>
      <td>Banco Santander</td>
      <td>37</td>
      <td>30</td>
      <td>example@gmail.com </td>
     
  </tr>

 



     

</tbody>
</table>
</div>
</div>
<!--/ Ajax Sourced Server-side -->


  

{% endblock content %}


{% block javascripts %}
  {{ block.super }}

  <script>
    $(document).ready(function() {
        $('#datatables').DataTable( {
          scrollX: true,
          
           
        });
    });
    </script>




{% endblock javascripts %}