
 {% comment %} <form id="formAuthentication" class="mb-3" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary d-grid w-100" type="submit">hit</button>
</form>    {% endcomment %}
<style>
* {
    margin: 0;
    padding: 0;
  }
  
  .loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .loading {
    border: 2px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<form id="formAuthentication" class="mb-3" method="POST">
    {%csrf_token%}
  <button type="submit" class="sbtn btn btn-secondary btn-c" onclick="spinner()">Log in</button>
  <div class="loader">
    <div class="loading">
    </div>
  </div>
  
