{% extends 'layout/admin.html' %}

{% block content %}


<div class="content-wrapper">

  <!-- Content -->
  
<div class="container-xxl flex-grow-1 container-p-y">
      
      

<div class="row">
<!-- Website Analytics-->
<div class="col-lg-6 col-md-12 mb-2">
  <div class="card">

    <div class="card-body pb-8">
        <div class="d-flex justify-content-around align-items-center flex-wrap mb-0">
          <div class="user-analytics text-center me-0">
            
            <center><h4>Total Dueued</hr></center>
            <span class="text-muted"><b>1.000.000</b></span>
          
          </div>  
        
        </div>

  
         <div id="analyticsBarChart"></div>
    </div>
  </div>

</div>

<!-- Referral, conversion, impression & income charts -->
<div class="col-lg-6 col-md-12">
<div class="row">
<!-- Referral Chart-->
    <div class="col-sm-12 col-12 mb-4">
        <div class="card">
            <div class="card-body text-center">
              <center><h4>Current</hr></center>
              <span class="text-muted"><b>200.000</b></span>
              <div id="referralLineChart"></div>
            </div>
        </div>
     </div>





{% comment %}  {% endcomment %}
</div>
</div>
<!--/ Activity Timeline -->
</div>

<div class="row">
  <!-- Website Analytics-->
  <div class="col-lg-6 col-md-12 mb-2">
    <div class="card">
  
      <div class="card-body pb-8">
          <div class="d-flex justify-content-around align-items-center flex-wrap mb-0">
            <div class="user-analytics text-center me-0">
                <center><h4>Scheduled to pay</hr></center>
                <span class="text-muted"><small>30 days</small><b> 600.000</b></span>
            
            </div>  
          
          </div>
  
    
           <div id="analyticsBarChart"></div>
      </div>
    </div>
  
  </div>
  
  <!-- Referral, conversion, impression & income charts -->
  <div class="col-lg-6 col-md-12">
  <div class="row">
  <!-- Referral Chart-->
      <div class="col-sm-12 col-12 mb-4">
          <div class="card">
              <div class="card-body text-center">
                <center><h4>Scheduled to pay</hr></center>
                <span class="text-muted"><small>60 days</small><b>200.000</b></span>
                <div id="referralLineChart"></div>
              </div>
          </div>
       </div>
  
  
  
  
  
  {% comment %}  {% endcomment %}
  </div>
  </div>
  <!--/ Activity Timeline -->
  </div>
  
<div class="row"style="display: flex;
justify-content: center;">
  <!-- Website Analytics-->
  <div class="col-lg-6 col-md-12 mb-2">
    <div class="card">
  
      <div class="card-body pb-8">
          <div class="d-flex justify-content-around align-items-center flex-wrap mb-0">
            <div class="user-analytics text-center me-0">
                <center><h4>Scheduled to pay</hr></center>
                <span class="text-muted"><small>90 days</small><b>600.000</b></span>
            
            </div>  
          
          </div>
  
    
           <div id="analyticsBarChart"></div>
      </div>
    </div>
  
  </div>
</div>  
  </div>





    <!-- / Content -->

    

  

  
{%endblock content %}