{% extends 'layout/admin.html' %}

{% block content %}
<style>
    .input-group:focus-within {
        box-shadow: unset !important;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      ul.clickerfour li {
        display: inline-block;
        margin: 15px
    }

    .main{
        padding: 15px;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<div class="main">
    <div class="week-st1">
        <h5>Payroll</h5>
       
      
            <form method ="POST">
                <div class="d-flex">
                {%csrf_token%}
            <div class="col-6 mx-auto d-flex">
   
            <div class="input-group date" id="datepicker">
                <label style="color: black;
                font-weight: 500;">Select Month: <select name="month" id="bonus" style="margin-top:8px;"></label>
                <option value="Ja"> Month</option>
            
                <option value="January"  {% if month == "January" %} selected {%else %} {%endif%}  >January</option>
                
                <option value="February" {% if month == "February" %} selected {%else %} {%endif%} >February</option>
                
                <option value="March" {% if month == "March" %} selected {%else %} {%endif%}>March</option>
            
                <option value="April" {% if month == "April" %} selected {%else %} {%endif%}>April</option>
            
                <option value="May" {% if month == "May" %} selected {%else %} {%endif%}>May</option>
            
                <option value="June" {% if month == "June" %} selected {%else %} {%endif%}>June</option>
                
                <option value="July" {% if month == "July" %} selected {%else %} {%endif%}>July</option>
            
                <option value="August" {% if month == "August" %} selected {%else %} {%endif%}>August</option>
                
                <option value="September"{% if month == "September" %} selected {%else %} {%endif%}>September</option>
                
                <option value="October"{% if month == "October" %} selected {%else %} {%endif%}>October</option>
            
                <option value="November" {% if month == "November" %} selected {%else %} {%endif%}>November</option>
                
                <option value="December" {% if month == "December" %} selected {%else %} {%endif%}>December</option>
            </select><br><br>
            </div>
            <label style="color: black;
            font-weight: 500;width:50%;">Select Year: <select name="year" id="item"style="margin-top:8px;"></label>
                <option value="">Year</option>
                
                {% for i in lst %}      
                
                <option value="{{i}}" {% if year == i %} selected {%else %} {%endif%}>{{i}}</option>
                {%endfor%}
            
            </select> 

     
            </div>
           
          
        </div>

        <div class="w-40% text-center">
            
            </div>
                    <br>
    </div>
    <div class="week-st1">   
        <h5>Week1</h5>
        <ul class="clickerfour">
            <li>
                Payroll B 
                
            </li>

                
    
                
         
{% comment %}               
              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title"></h4>
                      <button type="Submit" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                     
<table>
    <tr>
      <th>Parameter of paid </th>
      <th>Name of provider </th>
      <th>Amount to pay or due</th>
      <th>Invoice</th>
      <th>Reschedule</th>
    </tr>
    <tr>
      <td> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

 
  
  </table>
  
  
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div> {% endcomment %}
            <li>
              
                <button type ="submit" class="btn btn-primary" name="view" value="view1">View</a>
            </li>
            <li>
               
              <button type="submit" class="btn btn-primary" name="download" value="1">Download</button> 
            </li>
            <li>
                <button type="submit" class="btn btn-primary" name="amount" value="total1">Total Amount of the Payroll</button>
            </li>{{total1.amount_paid__sum}}
        </ul>
    </div>

    <div class="week-st1">
        <h5>Week2</h5>
        <ul class="clickerfour">
            <li>
                Payroll B 
                
            </li>
            <li>
                <button type="submit" class="btn btn-primary"  name="view" value="view2">View</button>
            </li>
            <li>
                <button type="submit" class="btn btn-primary" name="download" value="2">Download</button>
            </li>
            <li>
                <button type="submit" class="btn btn-primary">Total Amount of the Payroll</button>
            </li>
        </ul>
    </div>
    <div class="week-st1">
        <h5>Week3</h5>
        <ul class="clickerfour">
            <li>
                Payroll B 
                
            </li>
            <li>
                <button type="submit" class="btn btn-primary"  name="view" value="view3">View</button>
            </li>
            <li>
                <button type="submit" class="btn btn-primary" name="download" value="3">Download</button>
            </li>
            <li>
                <button type="submit" class="btn btn-primary">Total Amount of the Payroll</button>
            </li>
        </ul>
    </div>
    <div class="week-st">
        <h5>Week4</h5>
        <ul class="clickerfour">
            <li>
                Payroll B 
                
            </li>
            <li>
                <button type="submit" class="btn btn-primary"  name="view" value="view4">View</button>
            </li>
            <li>
                <button type="submit" class="btn btn-primary" name="download" value="4">Download</button>
            </li>
            <li>
                <button type="submit" class="btn btn-primary">Total Amount of the Payroll</button>
            </li>
        </ul>
    </div>
</div>
</form>

{% endblock content%}

{% block javascripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        $('#bonus').change(function() {
        var val=$("#bonus option:selected").val()

    $.ajax({
        type:"GET",
        url: '/payroll',
        data: {
          'id': val
        },
        dataType: 'json',
        success: function (data) {
         
        }
     
    });  
      });

      $('#item').change(function() {
        
        var use=$("#item option:selected").val()
   
    $.ajax({
        type:"GET",
        url: '/payroll',
        data: {
          'year': use
        },
        dataType: 'json',
        success: function (data) {
         
        }
     
    });  
      });

    });

 </script> 

 {% endblock javascripts %}
