{% extends 'layout/admin.html' %}

{%block content%}

<html>
<head>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 92%;
    margin: auto;
    margin-top: 0px;
    margin-bottom:29;
    margin-bottom: 44px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td {
    color: #020201;
    border: 1px solid #00000026;
  }
  th {
    color: #000000;
    font-weight: 550;
    letter-spacing: 1px;
  }
  input[type="text"] {
    border: 1px solid #bdbdbd;
    font-weight: 600;
    color: #000000de;
    letter-spacing: 1px;
  }
  a.myclass {
    color:#fff;
    background-color: #5a8dee;
    border-color: #5a8dee;
    padding:9px 15px;
    box-shadow: 0 0.125rem 0.25rem rgb(147 158 170 / 40%);
  }
  
    .mainpage {
        height: 68vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner-page {
        box-shadow: 0 0 4px;
        padding: 18px;
    }
  
    button#modalClose {
      position: absolute;
      top: 12px;
      background: red;
      border: none;
      font-size: 20px;
      right: 14px;
      color: #fff;
      height: 35px;
  }
  .modal-header {
    position: relative;
    display: unset !important;
  }
  h1.mainhead_month {
    padding-right: 15px;
    padding-left: 15px;
  }
  h1.mainhead_date {
    padding-right: 15px;
  }
  a.btn_back {
      color: #fff;
      background-color: #5a8dee;
      border-color: #5a8dee;
      box-shadow: 0 0.125rem 0.25rem rgb(147 158 170 / 40%);
      padding:8px 16px;
      height: 36px;
    }
    button.btn_downlod {
      color: #fff;
      background-color: #5a8dee;
      border-color: #5a8dee;
      box-shadow: 0 0.125rem 0.25rem rgb(147 158 170 / 40%);
      padding:8px 16px;
      border: none;
      height: 36px;
    }
    div#successMessage {
      font-size: 28px;
      text-align: center;
      padding-bottom: 34px;
      color: red;
  }
  div#success{
    font-size: 28px;
    text-align: center;
    padding-bottom: 34px;
    color: red;
    
  }
  
</style>
</head>
<body>
  <div id="success"> 

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  </div>
  {% if True in week_status %}
  <div id="successMessage"><b>Payroll is closed</b> </div>
  {%else%}
  <div id="successMessage"> </div>
  {%endif%}
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header text-center">
            <h3 class="modal-title" id="exampleModalLabel">Are you not </h3><h3>paying<h3><h2 class="app"></h2><h3>of this payroll? When do you want to reschedule it?</h3>   
            <button  class="close" id="modalClose" aria-label="close">&times;</button>
            
          
        </div>
        <div class="modal-body">
          {% comment %} <form method ="POST" class=""> {% endcomment %}
            {%csrf_token%}
        <div class="inner-clicker d-flex"style="justify-content: space-around;">
            <div>
        <label style="display: grid;color: black;
        font-weight: 500;">Select Month: <select name="month" id="sort-item" style="margin-top:8px;"></label>
            
            <option value="Ja"> Month</option>
        
            <option value="January"  {% if month == "January" %} selected {%else %} {%endif%}  >January</option>
            
            <option value="February" {% if month == "February" %} selected {%else %} {%endif%} >February</option>
            
            <option value="March" {% if month == "March" %} selected {%else %} {%endif%}>March</option>
        
            <option value="April" {% if month == "April" %} selected {%else %} {%endif%}>April</option>
        
            <option value="May" {% if month == "May" %} selected {%else %} {%endif%}>May</option>
        
            <option value="June" {% if month == "June" %} selected {%else %} {%endif%}>June</option>
            
            <option value="July" {% if month == "July" %} selected {%else %} {%endif%}>July</option>
        
            <option value="August" {% if month == "August" %} selected {%else %} {%endif%}>August</option>
            
            <option value="September"{% if month == "September" %} selected {%else %} {%endif%}>September</option>
            
            <option value="October"{% if month == "October" %} selected {%else %} {%endif%}>October</option>
        
            <option value="November" {% if month == "November" %} selected {%else %} {%endif%}>November</option>
            
            <option value="December" {% if month == "December" %} selected {%else %} {%endif%}>December</option>
        </select><br><br>
        </div>
        <div>
        <label style="display: grid;color: black;
        font-weight: 500;">Week <select name="week" id="sort-items2"style="margin-top:8px;"></label>
         
            <option value="">Week</option>
            
            {% for i in lst1 %}
            
            <option value="{{i}}" {% if year == i %} selected {%else %} {%endif%}  >{{i}}</option>
            {%endfor%}
        
        </select>
        
        </div>
        <div>
        <label style="display: grid;color: black;
        font-weight: 500;">Select Year: <select name="year" id="sort-items1"style="margin-top:8px;"></label>
         
            <option value="">Year</option>
            
            {% for i in lst %}
            
            <option value="{{i}}" {% if year == i %} selected {%else %} {%endif%}  >{{i}}</option>
            {%endfor%}
        
        </select>
    </div>
    <input type="text"   value="" name="id" id="txt" hidden/>
    <input type="text"   value="" name="amt"  id="txt1" hidden />
    </div>

    <!-- Modal footer -->
    <div class="modal-footer justify-content-center">
      <input type='submit'  value='Save/Return'  name="updt" onclick='myTest2(this)' class="btn btn-primary"/ >
    </div>
  {% comment %} </form> {% endcomment %}
        </div>
      
        </div>
    </div>
    </div>
<div class="col-md-7  d-flex"style="justify-content: space-evenly;">
  <div class="d-flex">
<h1 class="mainhead_month">{{month}}</h1>  <h1 class="mainhead_date">{{weeks}}</h1>  <h1 class="mainhead_year">{{year}}</h1>
</div>
<a href="javascript:history.go(-1)" class="btn_back">Back</a>
<form method = "POST" id="form-id">
  {%csrf_token%}
<button type="submit" class="btn_downlod" id="your-id" name="download" >Download</button>
</form>
<h1>{{week_total}}</h1>
</div>
  <form method = "POST">
    {%csrf_token%}
<table>
  <tr>
    <th hidden>id</th>
    <th>Parameter of paid</th>
    <th>Name of provider</th>
    <th>Amount to pay or due </th>
    <th>Invoice</th>
    <th>Reschedule</th>
    
  </tr>
  
  {% for i in week %}
  
  <tr>
    <td hidden><input type='text' class="val" id="dSugsgest" name="id_{{forloop.counter}}" value={{i.id}}></td>
    
    <td>{{i.payment_term}}</td>
    <td>{{i.business_name}}</td>
    <td><input type='text' id="dSuggest" class="count" value={{i.amount_paid}}  {% if i.status == True  and i.user_id == request.user.id %} disabled {%else%}  {%endif%}></td>
    <td>{{i.invoice}}</td>

   <td>
    
     
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick='myTest3(this)' name="drop"  {% if i.status == True  and i.user_id == request.user.id %} disabled {%else%}  {%endif%} >
      Reschedule
    </button></td>
    <div class="modal" id="myModal">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header text-center">
              <h3 class="modal-title" id="exampleModalLabel">Are you not </h3><h3>paying<h3><h2 class="apps"></h2><h3>of this payroll? When do you want to reschedule it?</h3>   
              <button  class="close" id="modalClose" aria-label="close">&times;</button>
              
            
          </div>
          <div class="modal-body">
            {% comment %} <form method ="POST" class=""> {% endcomment %}
              {%csrf_token%}
          <div class="inner-clicker d-flex"style="justify-content: space-around;">
              <div>
          <label style="display: grid;color: black;
          font-weight: 500;">Select Month: <select name="month" id="sort-item" style="margin-top:8px;"></label>
              
              <option value="Ja"> Month</option>
          
              <option value="January"  {% if month == "January" %} selected {%else %} {%endif%}  >January</option>
              
              <option value="February" {% if month == "February" %} selected {%else %} {%endif%} >February</option>
              
              <option value="March" {% if month == "March" %} selected {%else %} {%endif%}>March</option>
          
              <option value="April" {% if month == "April" %} selected {%else %} {%endif%}>April</option>
          
              <option value="May" {% if month == "May" %} selected {%else %} {%endif%}>May</option>
          
              <option value="June" {% if month == "June" %} selected {%else %} {%endif%}>June</option>
              
              <option value="July" {% if month == "July" %} selected {%else %} {%endif%}>July</option>
          
              <option value="August" {% if month == "August" %} selected {%else %} {%endif%}>August</option>
              
              <option value="September"{% if month == "September" %} selected {%else %} {%endif%}>September</option>
              
              <option value="October"{% if month == "October" %} selected {%else %} {%endif%}>October</option>
          
              <option value="November" {% if month == "November" %} selected {%else %} {%endif%}>November</option>
              
              <option value="December" {% if month == "December" %} selected {%else %} {%endif%}>December</option>
          </select><br><br>
          </div>
          <div>
          <label style="display: grid;color: black;
          font-weight: 500;">Week <select name="week" id="sort-items2"style="margin-top:8px;"></label>
           
              <option value="">Week</option>
              
              {% for i in lst1 %}
              
              <option value="{{i}}" {% if year == i %} selected {%else %} {%endif%}  >{{i}}</option>
              {%endfor%}
          
          </select>
          
          </div>
          <div>
          <label style="display: grid;color: black;
          font-weight: 500;">Select Year: <select name="year" id="sort-items1"style="margin-top:8px;"></label>
           
              <option value="">Year</option>
              
              {% for i in lst %}
              
              <option value="{{i}}" {% if year == i %} selected {%else %} {%endif%}  >{{i}}</option>
              {%endfor%}
          
          </select>
      </div>
      <input type="text"   value="" name="id" id="txt" hidden/>
      <input type="text"   value="" name="amt"  id="txt1" hidden />
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer justify-content-center">
        <input type='submit'  value='Save/Returns'  name="updt" onclick='myTest4(this)' class="btn btn-primary"/ >
      </div>
    {% comment %} </form> {% endcomment %}
          </div>
        
          </div>
  
   
  </tr>
  {%endfor%}
</table> 





  <div id="popup" style="display:none">
    <asp:Literal Text="Are you sure you want to delete the blog?"  runat="server"/>
    <asp:Button Text="Yes" runat="server" />
</div>
{% comment %} <button type ="submit" class="btn btn-primary">Save/Return</button> {% endcomment %}


</div>
</body>
</html>



{% endblock content %}


{%block javascripts%}
{{block.super}}

<script>
$(document).ready(function() {
   
    var input = $("input[type='text']");
    var val1 = localStorage.getItem("test");
    var ids= localStorage.getItem("user_id")
    // Check local storage to see if the input is already disabled
   if (localStorage.getItem("inputDisabled") === "true" && val1 === "view1" && ids != "None") {
    
      input.attr("disabled", true);
      $(".btn").attr("disabled", true);

  
    
    }
    else if (localStorage.getItem("inputDisabled1") === "true" && val1 === "view2") {
    
      input.attr("disabled", true);
      $(".btn").attr("disabled", true);
  
  
    
    }
    else if (localStorage.getItem("inputDisabled2") === "true" && val1 === "view3") {
    
      input.attr("disabled", true);
      $(".btn").attr("disabled", true);
  
   
    
    }
    else if (localStorage.getItem("inputDisabled3") === "true" && val1 === "view4") {
    
      input.attr("disabled", true);
      $(".btn").attr("disabled", true);
    
    } 

    localStorage.removeItem("inputDisabled")
    localStorage.removeItem("inputDisabled1")
    localStorage.removeItem("inputDisabled2")
    localStorage.removeItem("inputDisabled3")
    $(".btn_downlod").click(function() {

    
      if (val1 === "view1"){
        input.attr("disabled", true);
        $(".btn").attr("disabled", true);
      
      localStorage.setItem("inputDisabled", true);
     
      }
      else if (val1 === "view2"){
        input.attr("disabled", true);
        $(".btn").attr("disabled", true);
      
      localStorage.setItem("inputDisabled1", true);
    
      }
      else if (val1 === "view3"){
        input.attr("disabled", true);
        $(".btn").attr("disabled", true);
      
      localStorage.setItem("inputDisabled2", true);
   
      }
      else if (val1 === "view4"){
        input.attr("disabled", true);
        $(".btn").attr("disabled", true);
      
      localStorage.setItem("inputDisabled3", true);
  
      }
      $("#success").html("<b>Payroll is closed</b>");
  }); 
});
  
  function myTest(a)
  {
    var currentRow=$(a).closest("tr");
  
    var bank_id = currentRow.find("td:eq(0) input").val();
    console.log(bank_id)
    var test1 = currentRow.find("td:eq(3) input").val();
    console.log("test",test1)
  
    $('input[name=id]').val(bank_id);
    $('input[name=amt]').val(test1);
    $('input[name=upd]').val(bank_id);
    
    
    $.ajax({
          type:"GET",
          url: 'view',
          data: {
            'id': bank_id,
            'balance':test1,
            
          },
          dataType: 'json',
          success: function (data) {
           
            
          }
       
        });

      
  
  
      };

      function myTest1(a)
      {
        var currentRow=$(a).closest("tr");
      
        var bank_id = currentRow.find("td:eq(0) input").val();
        console.log(bank_id)
        var test1 = currentRow.find("td:eq(3) input").val();
        console.log("testsssssssssssssssss",test1)
       
        $('input[name=id]').val(bank_id);
        $('input[name=amt]').val(test1);
        $('input[name=upd]').val(bank_id);
        
        $.ajax({
              type:"GET",
              url: 'view',
              data: {
                'id': bank_id,
                'balance':test1,
                
              },
              dataType: 'json',
              success: function (data) {
              $('Button[name=download]').prop("disabled",true); 
             
                
              
              }
           
            });
    
          
      
      
          };
 
          function myTest2(a)
          {
            
           
            month=$('#sort-item option:selected').text();
            year= $('#sort-items1 option:selected').text();
            week=$('#sort-items2 option:selected').text();
            value = $("#txt").val(); 
            localStorage.setItem('month', month);
            localStorage.setItem('year', year);
            localStorage.setItem('week', week);
            localStorage.setItem('id', value);
            value1 = $("#txt1").val();
           
            console.log(month,year,week,value)
            $.ajax({
                  type:"GET",
                  url: 'save_value',
                  data: {
                    'id': value,
                    'month':month,
                    'year':year,
                    'week':week,
                    'amt':value1
                    
                  },
                  dataType: 'json',
                  success: function (data) {
                  console.log(data.record)
                  localStorage.setItem('user_id', data.user);
                  $("#success").delay(1000).fadeOut(500);
                  window.location.href = "view";

                    
                    
                  
                  }
               
                }); 
        
              
          
          
              };


              function myTest4(a)
              {
                month=$('#sort-item option:selected').text();
                year= $('#sort-items1 option:selected').text();
                week=$('#sort-items2 option:selected').text();
                value = $("#txt").val(); 
                localStorage.setItem('month', month);
                localStorage.setItem('year', year);
                localStorage.setItem('week', week);
                localStorage.setItem('id', value);
                value1 = $("#txt1").val();
    
                console.log(month,year,week,value)
                $.ajax({
                      type:"GET",
                      url: 'save_value',
                      data: {
                        'id': value,
                        'month':month,
                        'year':year,
                        'week':week,
                        'amt':value1
                        
                      },
                      dataType: 'json',
                      success: function (data) {
                      console.log(data.record)
                      localStorage.setItem('user_id', data.user);
                      $("#success").delay(1000).fadeOut(500);
                      window.location.href = "view";
    
                        
                        
                      
                      }
                   
                    }); 
            
                  
              
              
                  };
    
    
    

              function myTest3(a)
              {
                
                var currentRow=$(a).closest("tr");
          
                var bank_id = currentRow.find("td:eq(0) input").val();
                console.log(bank_id)
                var test1 = currentRow.find("td:eq(3) input").val();
                console.log("testsssssssssssssssss",test1)
                month= localStorage.getItem('month');
                year= localStorage.getItem('year'); 
                week=localStorage.getItem('week');
                pro_id=localStorage.getItem('id');
                pro_amt=localStorage.getItem('amtt');
               
                
  
                $('input[name=id]').val(bank_id);
                $('input[name=amt]').val(test1);
                $('input[name=upd]').val(bank_id);
                console.log("ss",month,year,week)
                
                 $.ajax({
                      type:"GET",
                      url: 'get_value',
                      data: {
                        'id':pro_id,
                        'month':month,
                        'year':year,
                        'week':week,
                        'amt':pro_amt,
                        'actual':test1
        
                        
                      },
                      dataType: 'json',
                      success: function (data) {
                      //window.location.href = "view";
                  
                      $('.apps').html(data.amount2);
                     
                      localStorage.removeItem("month")
                      localStorage.removeItem("year")
                      localStorage.removeItem("week")

                   

                   
                        
                        
                      
                      }
                   
                    }); 
            
                  
              
              
                  };
          
          
            
          $(".count").focusout('input',function () {
            var vin = $(this).val()
            console.log(vin);
            var currentRow=$(this).closest("tr");
      
            var bank_id = currentRow.find("td:eq(0) input").val();
            console.log(bank_id)
            var test1 = currentRow.find("td:eq(3) input").val();
            
            console.log("testsssssssssssssssss",test1)
            
          
          
            
            $('input[name=amt]').val(test1);
            $('input[name=upd]').val(bank_id);
          
            $('#exampleModal').modal('show');
            
  

              $.ajax({
              type:"GET",
              url: 'get_value',
              data: {
                'id': bank_id,
                'amt':test1,

              },
              dataType: 'json',
              success: function (data) {
                console.log("dfsdfdsf",data.amount) 
                localStorage.setItem("amtt",data.amount)
                $('.app').html(data.amount);
                

               
              }
        
            }); 


            $('#modalClose').on('click', function () {
              console.log("hello")
              
              $('#exampleModal').modal('hide')
          });


          });
      
        
          


</script>




{%endblock javascripts%}


